body {
  font: 1rem/1.5 var(--bs-font-sans-serif);
  background-image: linear-gradient(to right, #2b5876 , #4e4376);
  color: white;
  padding: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  zoom: 200%;
}

:root {
  scroll-behavior: smooth;
}

.container{

  width: max-content;
  display: grid;

}

a{
  text-decoration: none;
}

.Sokoban{
  margin: auto;
  width: max-content;
  display: grid;
}