body {
  background-color: #282c34;
  background-size: cover;
  color: white;
  padding: 40px;
  font-family: Arial;
  text-align: center;
}

.graj{
  height: 2vw;
  width: 5vw;
  background-color: #282c34;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  border-color: whitesmoke;
}